{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ company.name }} - Company Details</title>
  </head>
  <body>
    <h1>{{ company.name }}</h1>

    <div>
      <p><strong>Industry:</strong> {{ company.industry }}</p>
      <p><strong>Location:</strong> {{ company.location }}</p>
      <p><strong>Description:</strong>{{ company.description }}</p>

      <!--prettier-ignore-->
      {% if company.website %}

      <!--prettier-ignore-->
      <p><strong>Website:</strong>
            <a href="{{ company.website }}" target="_blank">Visit Website</a>
          </p>
      {% endif %}

      <!--prettier-ignore-->
      {% if company.logo %}

      <!--prettier-ignore-->
      <img src="{{ company.logo.url }}" alt="{{ company.name}}">
      {% endif %}
    </div>

    <a href="{% url 'companies' %}"> Back to Company List</a>
    <a href="{% url 'create_job' company.id %}" class="btn-create-job">
      + Create Job
    </a>

    <h2>Jobs</h2>

    {% for job in jobs %}
    <div class="job-card">
      <h3>{{ job.title }}</h3>
      <p>{{ job.location }}</p>
      <p>{{ job.work_type }}</p>
      <p>{{ job.employment_type }}</p>

      <a href="#">View</a>
      <a href="#">Edit</a>
      <a href="#">Delete</a>
    </div>
    {% empty %}
    <p>No jobs posted yet.</p>
    {% endfor %}
  </body>
</html>
