{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--prettier-ignore-->
    <link rel="stylesheet" href="{% static 'job_board/css/registerandlogin.css' %}" />
    <title>Register</title>
  </head>
  <body>
    <main class="main-cointiner">
      <div>
        <form method="POST" novalidate>
          {% csrf_token %} {{ form.as_p}}
          <button>Register</button>
        </form>
      </div>
    </main>
  </body>
</html>
