{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block tittle %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'smclone/css/style.css' %}" />
  </head>
  <body>
    {% for post in posts %}

    <h2>{{ post.user.profile.display_name }}</h2>
    <p>{{ post.content }}</p>
    <small>{{ post.created_at }}</small>

    {% if post.image %}

    <img src="{{ post.image.url }}" alt="Post image" /> {% endif %} {% empty %}
    <p>No posts yet.</p>

    {% endfor %}
  </body>
</html>
