{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block tittle %} Log in {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'smclone/css/style.css' %}" />
  </head>
  <body>
    <main class="auth-card">
      <h1>Login</h1>

      {% if messages %} {% for message in messages %}
      <p>{{ message }}</p>
      {% endfor %} {% endif %}

      <form method="POST" novalidate>
        {% csrf_token %} {{ form.as_p }}

        <button type="submit">Login</button>

        <p class="auth-link">
          Don't have an account? <a href="{% url 'register' %}">Create one</a>
        </p>
        <p class="auth-link">
          <a href="{% url 'password_reset' %}">Forgot your password?</a>
          <p class="auth-link"><a href="{% url 'username_reset' %}">Forgot your username</a></p>
        </p>
      </form>

      <footer class="site-footer">
        <p>&copy; 2026 Social Media Clone. All rights reserved.</p>
      </footer>
    </main>
  </body>
</html>
