{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> {% block tittle %} profile {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'smclone/css/style.css' %}">

</head>
<body>
    <h1>{{ profile.display_name }}</h1>
    <p>{{ profile.full_name }}</p>
    <p>{{ profile.bio }}</p>
    <p>{{ profile.profile_picture }}</p>
    <p>{{ profile.date_of_birth }}</p>
    <p>{{ profile.location }}</p>
    <p>{{ profile.website }}</p>
    <p>{{ profile.gender }}</p>
    <p>{{ profile.privacy_settings}}</p>

    
</body>







</html>