{% extends "deployApp/base.html" %}

{% block title %}
Contact
{% endblock %}

{% block content %}

<section class="contact">

    <h1>Contact Me</h1>

    <p>
        Feel free to connect with me through these platforms.
    </p>


    <ul>

        <li>
            X:
            <a href="https://x.com/sadik_0x">
                @sadik_0x
            </a>
        </li>


        <li>
            WhatsApp:
            +234 814 821 0933
        </li>


        <li>
            GitHub:
            Coming Soon
        </li>


        <li>
            Website:
            Coming Soon
        </li>


    </ul>

</section>

{% endblock %}