{% load static %}

<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet"
          href="{% static 'tickets/css/tickets.css' %}">

    <title>Edit Ticket | Bug Tracker</title>

</head>

<body>

<div class="container">

    <div class="form-card">

        <h1>Edit Ticket</h1>

        <form method="POST">

            {% csrf_token %}

            {{ form.as_p }}

            <button
                type="submit"
                class="btn btn-primary">

                Save Changes

            </button>

        </form>

    </div>

</div>

</body>

</html>